button {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Button hover styles */
button:hover {
    background-color: brown;
}

/* Button active styles */
button:active {
    background-color: #1e3e1f;
}

span {
    padding-left: 3em;
    padding-right: 3em;
}